:root{
    --lead:#212121;
    --gold:#f2bd12;
    --ball:#fffdf7;
    --hint-yellow:#fcf1cc;
    --pure-white:#fff;
}
.cart-tap{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) -10px -10px 20px ;
    transition: 0.3s ease-in-out;
  
}
.cart-tap-active{
    inset: 0 0 0 auto;
}
.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
}
.cart-list::-webkit-scrollbar{
    width: 0;
}
.cart-list .item:nth-child(even){
    background: var(--ball);
}
.total-container{
   background: var(--gold);
   width: 100%;
   text-align: center;
   margin-block: 1rem;
   padding-block: 1rem;
}
.total-container h4{
 display: inline-block; 
 /* inline */
 font-size: 1.3rem;
 font-weight: 400;
}
.btn-container .btn{
    background: var(--lead);
    transition: 0.3s ease-in-out;
}
.btn-container .btn:hover{
    background: var(--gold);
    color: var(--lead);
}
.item{
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
   gap: 1rem;
   transition: all 0.2s ease-in-out;
}
.item-slide-out{
    transform: translateX(50%);
}
.item .detail{
    flex: 2;
}
.item .item-image img{
    width: 5rem;
}
.item h4{
    font-size: 1.3rem;
    color:var(--lead)
}
.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}
.quality-btn{
    background: var(--lead);
    color: var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;
}
.quality-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .5rem;
}